# Configuration for flake8. For some reason, they stubbornly avoid `pyproject.toml` support.

[flake8]
exclude = 
    *
include = 
    pydantic_yaml
max-line-length = 88
max-doc-length = 88
docstring-convention = numpy  # currently unused
