# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.10"
        deps:
          - dev
          - dev,docs
        lib-pydantic:
          - "1.8.2"
          - "1.9.0"
          - "1.10.0"
          - "2.0.3" # test with pydantic 2
        lib-ruamel:
          - "NOTSET"
          - "0.16.0"
          - "0.17.21"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Package with dependencies ${{ matrix.deps }} and other libs
        run: |
          if [ ${{ matrix.lib-ruamel }} != "NOTSET" ]
          then
            pip install "ruamel.yaml~=${{ matrix.lib-ruamel }}"
          fi
          pip install "pydantic~=${{ matrix.lib-pydantic }}"
          pip install -e ".[${{ matrix.deps }}]"
      - name: Lint with ruff
        run: |
          ruff check .
      - name: Test with pytest
        run: |
          pytest
      - name: Test with mypy
        run: |
          mypy -p pydantic_yaml
